<div class="jumbotron bajar">
  
  <%= form_for(restaurant, remote: true) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h6>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :specialty_id %>
        <%= f.collection_select :specialty_id, Specialty.all, :id, :name, {prompt: "check specialty"},  class:'form-control'%> 
  </div>
<br>
  <div class="actions">
    <%= f.submit 'Guardar', class:'btn btn-default ' %>
  </div>
<% end %>


</div>