



 



<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    <h3 class="text-center text-uppercase">
      <%= restaurant.name %>
    </h3>
    <p class="lead text-center">
      <b><%= restaurant.specialty.try(:name) %></b>
    </p>

    <div class="jumbotron">
      <center>
        <%= image_tag restaurant.image, class: 'img-responsive img-thumbnail show_logo' %>
      </center>  
      <br>
      <%= link_to 'Dependence', restaurant_dependences_path(restaurant) %>
      <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
      <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>