<tr>
  <td><%= restaurant.name %></td>
  <td><%= restaurant.specialty.try(:name) %></td>
  <td>
  <%= link_to  restaurant, remote:true do %>
  	<%= image_tag restaurant.image, class: 'in_logo' %>
  <% end %>	
  </td>

  <td><%= link_to 'Dependence', restaurant_dependences_path(restaurant) %></td>  

  <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
  <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>