
<div class="container bajar">
<div id="topRight" hidden>
        
    </div>
  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> <b>RESTAURANTS</b> </h3>
    </div>
    <div class="panel-body">

      <div class="row cercar">
        <div id="lista_rest">
            
            <%= form_tag restaurants_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], class: 'form-control'%> <br>
              <%= submit_tag "Search", class:'btn btn-default btn-large btn-block' %>
            <% end %>
          <br>
          
            <div id="body_restaurante">
              <% @restaurants.each do |restaurant| %>
                <%= render '/restaurants/row', restaurant: restaurant%>
              <% end %>
            </div>
         

          <%= link_to 'Agregar restaurante', new_restaurant_path, remote: true %>

        </div>

        <div id="form_rest">

        </div>
      </div>


    </div>
  </div>
</div>


