<h1>Dependences</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependences.each do |dependence| %>
      <tr>
        <td><%= dependence.city.try(:name) %></td>
        <td><%= dependence.zone.try(:name) %></td>
        <td><%= link_to 'Show', restaurant_dependence_path(dependence, @restaurant) %></td>
        <td><%= link_to 'Edit', edit_restaurant_dependence_path(dependence, @restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant_dependence_path(dependence, @restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependence', new_restaurant_dependence_path(@restaurant) %>
