<%= form_for [@restaurant,@dependence] do |f| %>
  <% if dependence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dependence.errors.count, "error") %> prohibited this dependence from being saved:</h2>

      <ul>
      <% dependence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city_id %>
    <%= f.collection_select :city_id, City.all, :id, :name, {prompt: "check city"}%> 

  </div>

  <div class="field">
    <%= f.label :zone_id %>
    <%= f.grouped_collection_select :zone_id,  City.all, :zones, :name, :id, :name, {prompt: "check zone"}%> 


  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
