<p id="notice"><%= notice %></p>

<h1>Dependences</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>City</th>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependences.each do |dependence| %>
      <tr>
        <td><%= dependence.restaurant %></td>
        <td><%= dependence.city %></td>
        <td><%= dependence.zone %></td>
        <td><%= link_to 'Show', dependence %></td>
        <td><%= link_to 'Edit', edit_dependence_path(dependence) %></td>
        <td><%= link_to 'Destroy', dependence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependence', new_dependence_path %>
